
#add-wrapper {
    padding-top: 30px;
    padding-left: 30px;
    .input {
        margin-right: 20px;
    }

    #submit {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

}
