<template name="home">
    <div class="template-home">
        <div class="github-fork-ribbon-wrapper left">
            <div class="github-fork-ribbon">
                <a href="https://github.com/justinvyu/hack---">Fork me on GitHub</a>
            </div>
        </div>
        <div class="intro-div">
            <h1 id="title">hack---</h1>
            <h3 id="subtitle">A dashboard for creating and aggregating workshops for CS clubs.</h3>
            <a class="button" href="{{pathFor route='dashboard'}}">Get Started</a>
        </div>
    </div>
</template>