<template name="dashboard">

<div id="dashboard-wrapper">

	{{> searchPanel}}

	<h5 id="separator-title" class="uppercase">Community Workshops</h5>

	{{> workshopCard}}

</div>

</template>

<template name="searchPanel">

<div id="search-wrapper">
	<h1 id="search-text">Find something to learn...</h1>
</div>

</template>

<template name="workshopCard">

<div class="ui card">
	<div class="image">
		<img src="/img/code.gif" />
	</div>
	<div class="content">
		<a class="header">Header</a>
		<div class="meta">
			<span class="date">by Justin Yu</span>
		</div>
	</div>
	<div class="extra content">
		<a href="#">
			<i class="user icon"></i>
			Node.js
		</a>
	</div>
</div>

</template>
