#template-dashboard {
  font-family: 'PT Sans', sans-serif;
  overflow: none;
}

html, body {
  width: 100%;
  height: 100%;
}

#sidebar {
  overflow-y: scroll;
  word-wrap: break-word;

  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #2c3e50;
  border-right: 2px solid #34495e;

  .logo {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
  }
  ul {
    padding: 1em 0 0 0;
    list-style: none;
    list-style-type: none;
    margin-left: 25px;
    padding-left: 0;
    margin-right: 25px;

    li {
      padding-left: 0px;
      margin-left: 0;
      margin-top: 20px;
        a {
          font-size: 20px;
          color: white;
          text-decoration: none;
          transition: all .4s ease;
          &:hover {
            color: #2980b9;
          }
       }
    }
  }

  .difficulty {
    float: right;
    margin-top: 4px;
    border-radius: 50%;

    width: 18px;
    height: 18px;

    &.easy {
      background-color: #2ecc71;
    }
  }
}