<template name="dashboard">

<div id="dashboard-wrapper">

	{{> searchPanel}}

	<h5 id="separator-title" class="uppercase">Community Workshops</h5>

	<!-- {{#each workshops}} -->
		{{> workshopCard}}
		{{> workshopCard}}
	<!-- {{/each}} -->

	<a id="add-button" class="large circular ui icon button" href="/add">
		<i class="icon plus"></i>
	</a>

</div>

</template>

<template name="searchPanel">

<div id="search-wrapper">
	<input id="search-text" placeholder="Find something to learn..." />
</div>

</template>

<template name="workshopCard">

<div class="card-wrapper">
	<div class="ui card">
		<div class="image">
			<img src="/img/code.gif" />
		</div>
		<div class="content">
			<a class="header">Header</a>
			<div class="meta">
				<span class="date">by Justin Yu</span>
			</div>
		</div>
		<div class="extra content">
			<a href="#">
				<i class="user icon"></i>
				Node.js
			</a>
		</div>
	</div>
</div>

</template>
