#template-dashboard {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
}

html, body {
  width: 100%;
  height: 100%;
}

.content {
  font-size: 16px;
  //margin-left: -120px;
  margin-right: 150px;
  max-width: 50em;
  margin-left: 10px;
  padding: 20px;

  color: #777;

  .section-title {
    color: #444;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .workshop-title {
    color: #2980b9;
    margin-top: 5px;
    padding-top: 0;
    margin-bottom: 20px;
  }
}

#right-bar {
  max-width: 100px;
}

.difficulty-wrapper {

  float: right;
  padding-right: 10px;
  p {
    float: right;
    margin-left: 10px;
    display: inline;

    &.beginner {
      color: #2ecc71;
    }
  }
  .difficulty {
    display: inline;
    float: left;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 4px;

    &.beginner {
      background-color: #2ecc71;
    }
  }
}